/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-dark {
    --color-bg: #000028;
    --color-bg-image: url('../images/cover-image-dark.png');
    --color-title: #db00ff;
    --color-accent: #ff0070;
    --color-text: #f1b2ce;
    --color-bg-shadow: #ff0070;
    --color-subtitle-h2: #ff0070;
    --color-subtitle-h3: #000028;
    --color-text-default: #f1b2ce;
    --color-accent-rgb: rgb(255 0 112 / 0.4);
    --color-title-decor-bg: #ff0070;
    --color-subtitle: #ff0070;
    --color-title-decor-text: #fff;
    --color-card-bg: #1f1630;
    --color-text-light: #ff0070;
    --color-text-dark: #ff0070;
}


:root.theme-dark .header__decorative-rec {
    display: block;
}