/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-light {
    --color-bg: #fff1f7;
    --color-bg-image: url('../images/cover-image-light.png');
    --color-title: #ffc2e6;
    --color-accent: #353430;
    --color-bg-shadow: #ff8dcb;
    --color-subtitle-h2: #353430;
    --color-subtitle-h3: #353430;
    --color-text-default: #353430;
    --color-button-hover: rgba(50, 49, 45, 0.4);
    --color-title-decor-bg: #ff8dcb;

    --font-primary: "IBM Plex Mono", monospace;
    --font-size-theme-menu: 18px;
}


:root.theme-light .header__decorative-rec {
    display: none;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-bg: #fff1f7;
        --color-bg-image: url('../images/cover-image-light.png');
        --color-title: #ffc2e6;
        --color-accent: #353430;
        --color-bg-shadow: #ff8dcb;
        --color-subtitle-h2: #353430;
        --color-subtitle-h3: #353430;
        --color-text-default: #353430;
        --color-button-hover: rgba(50, 49, 45, 0.4);
        --color-title-decor-bg: #ff8dcb;

        --font-primary: "IBM Plex Mono", monospace;
        --font-size-theme-menu: 18px;
        --color-subtitle: #353430;
        --color-title-decor-text: #353430;
        --color-card-bg: #fff1f7;
        --color-text-light: #353430;
        --color-text-dark: #353430;
    }

    .header__decorative-rec {
        display: none;
    }
}